@model MusicPortal.Models.dbEntities.Composition

<div>
    <h2>@Model.name</h2>
    <p>Продолжительность: @Model.duration</p>
    <p>Альбом: @Model.Album.title</p>
    <p>Язык: @Model.Language.languageName</p>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <td>
            @Html.ActionLink("Изменить", "EditSong", "Portal"
              , new { songID = Model.id }, null)
        </td>
        <td>
            @Html.ActionLink("Удалить", "DeleteComposition", "Portal"
              , new { songID = Model.id }, null)
        </td>
    }
</div>
