@model MusicPortal.Models.dbEntities.Composition

<div>
    <h2>@Model.name</h2>
    <p>Продолжительность: @Model.duration</p>
    <p>Альбом: @Model.Album.title</p>
    <p>Язык: @Model.Language.languageName</p>

    <tr class="text-center">
        @if (!User.Identity.IsAuthenticated)
        {

            <td>
                Войдите, чтобы прослушивать песни и добавлять их в избранное.
            </td>
        }
    </tr>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <td>
            @Html.ActionLink("Изменить", "EditSong", "Portal"
              , new { songID = Model.id }, null)
        </td>
        <td>
            @Html.ActionLink("Удалить", "DeleteSong", "Portal"
              , new { songID = Model.id }, null)
        </td>
    }

    @if (User.IsInRole("User"))
    {
        <tr class="btn addFavoriteComposition btn-primary" data-int="@Model.id">
            <td>
                Добавить в избранное
            </td>
        </tr>

        <tr class="btn listenSong btn-primary" data-int="@Model.id">
            <td>
                Прослушать композицию
            </td>
        </tr>
    }
</div>

<script>
window.onload = function () {

    var buttons = document.getElementsByClassName('addFavoriteComposition');
    console.log(buttons);
    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", () => AddFavoriteComposition(buttons[i].dataset.int));
    }
}
    function AddFavoriteComposition(int)
{
    $.ajax({
        type: "POST",
        url: "@Url.Action("AddFavoriteComposition", "Portal")",
        data: {compositionID: int},
        success: function (data) {
            alert("Добавлено в избранное");
        }
    });
    }

        var buttons = document.getElementsByClassName('listenSong');
    console.log(buttons);
    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", () => ListenSong(buttons[i].dataset.int));
    }
}
    function ListenSong(int)
{
    $.ajax({
        type: "POST",
        url: "@Url.Action("ListenComposition", "Portal")",
        data: {compositionID: int},
        success: function (data) {
            alert("Прослушано");
        }
    });
}
</script>
