@model List<MusicPortal.Models.dbEntities.MusicalGroup>
@{
    ViewBag.Title = "Группы";
}

<table style="width:90%">
    <tbody>
        @foreach (var group in Model)
        {
            <tr class="text-center">
                <td>
                    @group.groupName
                </td>
                @if (User.IsInRole("User"))
                {
                    <td>
                        @Html.ActionLink("Посмотреть дискографию группы", "Login", "Portal")
                    </td>
                }
                else if (User.Identity.Name == "root")
                {
                    <td>
                        @Html.ActionLink("Изменить", "EditGroup", "Portal"
                          , new { groupID = group.id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "DeleteGroup", "Portal"
                          , new { groupID = group.id }, null)
                    </td>
                }
                else
                {
                    <td>
                        Войдите, чтобы просматривать дискографию групп.
                    </td>
                }
            </tr>
        }
    </tbody>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == "root")
    {
        <tbody>
            @Html.ActionLink("Добавить группу", "CreateGroup", "Portal", new { @class = "btn btn-defualt btn-primary" })
        </tbody>
    }
</table>

