@model List<MusicPortal.Models.dbEntities.Composition>
@{
    ViewBag.Title = "Композиции";
}

<table style="width:90%">
    <tbody>
        @foreach (var composition in Model)
        {
            Html.RenderPartial("CompositionOverviewPartial", composition);
            <tr class="text-center">
                @if (User.IsInRole("User"))
                {
                <tr class="btn addFavoriteComposition btn-primary" data-int="@composition.id">
                    <td>
                        Добавить в избранное
                    </td>
                </tr>
            }
                @if (User.Identity.IsAuthenticated)
                {
                @*<td>
                    @Html.ActionLink("Посмотреть дискографию группы", "ListOfAlbumsOfGroup", "Portal", new { compositionID = composition.id }, null)
                </td>*@
            }
            else
            {
                <td>
                    Войдите, чтобы просматривать дискографию группы.
                </td>
            }
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Изменить", "EditComposition", "Portal"
                          , new { compositionID = composition.id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "DeleteComposition", "Portal"
                          , new { compositionID = composition.id }, null)
                    </td>
                }
                </tr>
            }
        </tbody>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <tbody>
                @Html.ActionLink("Добавить композицию", "CreateComposition", "Portal", new { @class = "btn btn-defualt btn-primary" })
            </tbody>
        }
    </table>

    <script>
    window.onload = function () {

        var buttons = document.getElementsByClassName('addFavoriteComposition');
        console.log(buttons);
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", () => AddFavoriteComposition(buttons[i].dataset.int));
        }
    }
        function AddFavoriteComposition(int)
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddFavoriteComposition", "Portal")",
            data: {compositionID: int},
            success: function (data) {
                alert("Добавлено в избранное");
            }
        });
    }
    </script>

