@model List<MusicPortal.Models.dbEntities.Composition>
@{
    ViewBag.Title = "Композиции";
}

<div class="composition-container">
    @foreach (var composition in Model)
    {
        if (composition.isValid == true || composition.isValid == null)
        {
            <div class="composition-item">
                @Html.Partial("CompositionOverviewPartial", composition)
                <div class="button-container">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <p>Войдите, чтобы прослушивать песни и добавлять их в избранное.</p>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Изменить", "EditSong", "Portal", new { songID = composition.id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Удалить", "DeleteSong", "Portal", new { songID = composition.id }, new { @class = "btn btn-danger" })
                    }
                    @if (User.IsInRole("User"))
                    {
                        <button class="btn add-favorite-composition" data-int="@composition.id">Добавить в избранное</button>
                        <button class="btn listen-song" data-int="@composition.id">Прослушать композицию</button>
                    }
                </div>
            </div>
        }
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="add-composition-button">
            @Html.ActionLink("Добавить композицию", "CreateSong", new { id = Request.Params["albumID"] }, new { @class = "btn btn-primary" })
        </div>
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addFavoriteButtons = document.querySelectorAll('.add-favorite-composition');
        addFavoriteButtons.forEach(button => {
            button.addEventListener("click", () => AddFavoriteComposition(button.dataset.int));
        });

        const listenSongButtons = document.querySelectorAll('.listen-song');
        listenSongButtons.forEach(button => {
            button.addEventListener("click", () => ListenSong(button.dataset.int));
        });
    });

    function AddFavoriteComposition(int) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddFavoriteComposition", "Portal")",
            data: { compositionID: int },
            success: function(data) {
                alert("Добавлено в избранное");
            }
        });
    }

    function ListenSong(int) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ListenComposition", "Portal")",
            data: { compositionID: int },
            success: function(data) {
                alert("Прослушано");
            }
        });
    }
</script>
