@model List<MusicPortal.Models.dbEntities.MusicalGroup>
@{
    ViewBag.Title = "Группы";
}

<table style="width:90%">
    <tbody>
        @foreach (var group in Model)
        {
            if (group.isValid == true || group.isValid == null)
            {
            <tr class="text-center">
                <td>
                    @group.groupName
                </td>
                @if (User.IsInRole("User"))
                {
                <tr class="btn addFavoriteGroup btn-primary" data-int="@group.id">
                    <td>
                        Добавить в избранное
                    </td>
                </tr>
                }
                @if (User.Identity.IsAuthenticated)
                {
                <td>
                    @Html.ActionLink("Посмотреть дискографию группы", "ListOfAlbumsOfGroup", "Portal", new { groupID = group.id }, null)
                </td>
                }
                else
                {
                    <td>
                        Войдите, чтобы просматривать дискографию группы.
                    </td>
                }
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Изменить", "EditGroup", "Portal"
                           , new { groupID = group.id }, null)
                </td>
                <td>
                    @Html.ActionLink("Удалить", "DeleteGroup", "Portal"
                           , new { groupID = group.id }, null)
                </td>
            }
                </tr>
            }
        }
        </tbody>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <tbody>
                @Html.ActionLink("Добавить группу", "CreateGroup", "Portal", new { @class = "btn btn-defualt btn-primary" })
            </tbody>
        }
    </table>

<script>
    window.onload = function () {

        var buttons = document.getElementsByClassName('addFavoriteGroup');
        console.log(buttons);
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", () => AddFavoriteGroup(buttons[i].dataset.int));
        }
    }
    function AddFavoriteGroup(int)
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddGroupToFavorites", "Portal")",
            data: {groupID: int},
            success: function (data) {
                alert("Добавлено");
            }
        });
    }
</script>

