@model MusicPortal.Models.vmEntities.UserProfile

@{
    ViewBag.Title = "Личный кабинет пользователя";
    List<MusicPortal.Models.dbEntities.Album> albums = ViewBag.albums as List<MusicPortal.Models.dbEntities.Album>;
}

<table title="Прослушенные песни:" style="width:90%">
    <tr class="text-bg-light">
        <td>ПРОСЛУШЕННЫЕ ПЕСНИ</td>
    </tr>
    @if (Model.listenedSongs.Count() > 0)
    {
        <tbody>
            @foreach (var composition in Model.listenedSongs)
            {
                <tr class="text-center">
                    <td>
                        @composition.name
                        @*(@Html.RenderAction("RemoveFromFavorites"))
                            new { composition_id = composition.id });})*@
                    </td>

                    @foreach (var a in albums.Where(p => p.id == composition.album_id))
                    {
                        <td>
                            Продолжительность:  @composition.duration

                            Альбом: @a.title
                        </td>
                    }

                </tr>
                @*<tr>
                    @Html.ActionLink("Удалить", "RemoveFromFavorites", "Portal", new { songId = composition.id }, null)
                </tr>*@
            <td>
                <div class="btn addToCart btn-primary" data-int="@composition.id">
                    <span>
                        УДАЛИТЬ!!!
                    </span>
                </div>
            </td>
        }
            </tbody>
        }
        else
        {
            <tr class="text-center">
                <td>
                    Нет загруженных песен!
                </td>
            </tr>
        }
</table>

<table title="Скачанные песни:" style="width:90%">
    <tr class="text-bg-light">
        <td>СКАЧАННЫЕ ПЕСНИ ПЕСНИ</td>
    </tr>
    @if (Model.downloadedSongs.Count() > 0)
    {
        <tbody>
            @foreach (var composition in Model.downloadedSongs)
            {
                <tr class="text-center">
                    <td>
                        @composition.name
                        @*(@Html.RenderAction("Prices"))*@
                        @*new { composition_id = composition.id });})*@
                    </td>
                    @foreach (var a in albums.Where(p => p.id == composition.album_id))
                    {
                        <td>
                            Продолжительность:  @composition.duration
                            
                            Альбом: @a.title
                        </td>
                    }
                </tr>
            }
        </tbody>
        <tbody>
            @*@Html.ActionLink("Купить", "BuySong", "MusicPortal")*@
            @*//, new guid = Model.purchaseID, null)*@
        </tbody>
    }
    else
    {
        <tr class="text-center">
            <td>
                Нет загруженных песен!
            </td>
        </tr>
    }
</table>

<script>
    window.onload = function () {

        var buttons = document.getElementsByClassName('addToCart');
        console.log(buttons);
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", () => AddToCart(buttons[i].dataset.int));
        }
    }
    function AddToCart(int)
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveFromFavorites", "Portal")",
            data: {SongId: int},
            success: function (data) {
                alert("Удалено");
            }
        });
    }
</script>

